.boxen {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: #3f51b5;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.emptyBoxen {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: white;
  color: white;
  font-size: 24px;
  cursor: default;
}
