.boxen {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.emptyBoxen {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: white;
  color: white;
  font-size: 24px;
  cursor: default;
}

.puzzle-board-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.puzzle-board-container .grid {
  width: 100%;
  margin: auto;
}

.puzzle-board-container .grid > div {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}
